<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.bookcity.web.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>com.bookcity.web.BookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/manager/bookController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>com.bookcity.web.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/client/clientController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>kaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kaptchaServlet</servlet-name>
        <url-pattern>/kaptcha.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.bookcity.web.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.bookcity.web.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/orderController</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>com.bookcity.filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/pages/manager/*</url-pattern>
        <url-pattern>/manager/bookController</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>com.bookcity.filter.TransactionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <!--拦截所有请求，给所有请求都加上事务-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <!--error-code  是错误类型-->
        <error-code>500</error-code>
        <!--tomcat服务器捕捉到异常后要跳转去的页面-->
        <location>/pages/error/error500.jsp</location>
    </error-page>

    <error-page>
        <!--error-code  是错误类型-->
        <error-code>404</error-code>
        <!--tomcat服务器捕捉到异常后要跳转去的页面-->
        <location>/pages/error/error404.jsp</location>
    </error-page>
</web-app>